:host {
  display: block;
  .background {
    position: absolute;
    z-index: -1;
    min-height: 100vh;
    top: 0;
    background-image: url('/assets/d26fbe9c3593d996b1412bbae67a9d3ccc24acd50b6aac8e2894d082dcb8b035.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    opacity: .2;
    height: 100%;
    width: 100%;
  }
}
