<div class="container-fluid">
  <h2 translate>HEADER</h2>
  <h5 style="margin: 20px 0;" translate>SUBHEADER</h5>
  <form [formGroup]="syntaxForm" novalidate>
    <div>
      <textarea name="" id="1" cols="30" rows="10" formControlName="text" class="form-control"></textarea>
      <button class="btn btn-secondary" (click)="parseText()" style="margin: 20px 0;"
              [disabled]="!syntaxForm.value.text" translate>TRANSFORM_BUTTOM</button>
    </div>
    <div class="result-boxes">
      <div class="result" *ngFor="let res of results" placement="top"
           [class.end]="res.is_end"
           [class.start]="res.is_start"
           [class.pidmet]="res.is_pidmet"
           [class.prysudok]="res.is_prysudok"
           [class.oznachennia]="res.is_oznachennia"
           [class.obstavyna]="res.is_obstavyna"
           [ngbPopover]="res.comment"
           [popoverTitle]="'Коментар'">
        <div class="order" *ngIf="res.order">{{res.order}}</div>
        <div class="text">{{res.text}}</div>
        <div class="part" *ngIf="res.part"><span>{{res.part}}</span>. {{res.part_of_speech}}</div>
      </div>
    </div>
  </form>
</div>
<app-loader *ngIf="showLoader"></app-loader>

