<div class="container-fluid">
  <h2>Syntax analysis of simple sentences.</h2>
  <h5 style="margin: 20px 0;">Type your text in textarea below and press button "Transform" to parse sentences to words.</h5>
  <form [formGroup]="syntaxForm" novalidate>
    <div>
      <textarea name="" id="1" cols="30" rows="10" formControlName="text" class="form-control"></textarea>
      <button class="btn btn-secondary" (click)="parseText()" style="margin: 20px 0;" [disabled]="!syntaxForm.value.text">Transform</button>
    </div>
    <div class="result-boxes">
      <div class="result" *ngFor="let res of results" placement="top" [ngbPopover]="res.comment" [popoverTitle]="'Коментар'">
        <div class="text">{{res.text}}</div>
        <div class="part" *ngIf="res.part"><span>{{res.part}}</span>. {{res.part_of_speech}}</div>
      </div>
    </div>
  </form>
</div>
<app-loader *ngIf="showLoader"></app-loader>

