:host {
  display: block;
}
.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

textarea {
  background-color: rgba(255, 255, 255, .9);
}

.result-boxes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .result {
    padding: 15px;
    border: 1px solid lighten(#000, 40%);
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, .8);
  }
}
